<!DOCTYPE html>
<html ng-app="authApp">
    <head>
      <!-- SCROLLS -->
      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->

      <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
      <script src="https://code.angularjs.org/1.5.3/angular.min.js"></script>
      <script type="text/javascript" src="./js/angular-route.js"></script>
      <script src="./js/router.js"></script>
      <!-- load bootstrap and fontawesome via CDN -->
      <link rel="stylesheet" href="https://bootswatch.com/simplex/bootstrap.css">
      <link rel="stylesheet" href="./css/jumbotron.css">
      <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"-->
    
    <!-- angularfire scripts -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script type="text/javascript" src="./js/auth.js"></script>
    
  	<!--NAVBAR style-->
	     <link rel="stylesheet" href="./css/navbar.css">
  	<!--FOOTER style-->
	     <!--link rel="stylesheet" href="./css/footer.css"-->

      <script>
      document.write('<base href="' + document.location + '" />');
      </script>
    </head>
    <style>
    .groove {border-style: groove;}
    .sansserif {
        font-family: Arial, Helvetica, sans-serif;
    }
    .serif {
        font-family: "Times New Roman", Times, serif;
    }
    </style>

    <!-- define angular controller -->
    <body>

	<!---Navbar--->

  <div class="navbar navbar-default navbar-fixed-top" id="jobcenter-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">JobCenter</a>
      </div>

      <div class="collapse navbar-collapse">
				<ul>
      				<li><a href="#search">Cari Pekerja</a></li>
      				<li><a href="#/home#testimoni">Testimoni</a></li>
      				<li><a href="#/home#about">Tentang Kami</a></li>
		          <li style="float:right"><a class="btn" href="./pages/contact.html">Contact Us</a></li>
				</ul>

      </div>
    </div>
  </div><!--END NAVBAR-->

    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <br />
    <br />
    <br />
    <div ng-controller="AuthCtrl">
        <div class="container">
          Email: <input type="text" ng-model="email">
          Password: <input type="text" ng-model="password">
        
          <br><br>
        
          <button ng-click="createUser()">Create User</button>
        
          <br><br>
        
          <button ng-click="removeUser()">Remove User</button>
        
          <p ng-if="message">Message: <strong>{{ message }}</strong></p>
          <p ng-if="error">Error: <strong>{{ error }}</strong></p>
        </div>
    </div>


	<!--FOOTER-->
	<div id="footer">
		<hr>
		<div class="container text-center">
			<ul class="list-inline">
				<li><a href=""> Twitter </a></li>
				<li><a href=""> Youtube </a></li>
				<li><a href=""> Facebook </a></li>
			</ul>
		</div>
		<div class="container text-center">
		<p> &copy; Copyright @ 2016 </p>
		</div>
	</div>
    </body>
    </html>